#photoContainer {
  height: 80%;
}

.thumbnail {
  position: relative;
  width: 100%;
  height: 90%;
}

.photo0 {
  /* background: url("https://drive.google.com/uc?id=1vMSfZX7Cl96EIyroeE36hYBcJS-mAHUw"); */
  background: url("https://doc-0c-8o-docs.googleusercontent.com/docs/securesc/mfo92ibt9vv34lod3u9lp1r19tcj7rna/pr8b3071bauqk7arguggted94ifek4lo/1532944800000/11474363885485342627/11474363885485342627/1vMSfZX7Cl96EIyroeE36hYBcJS-mAHUw");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo1 {
  /* background: url("https://drive.google.com/uc?id=1KiNzmQuyO4KmFWRIq1xtLWJ1-GaI3w45"); */
background: url("https://doc-0s-8o-docs.googleusercontent.com/docs/securesc/mfo92ibt9vv34lod3u9lp1r19tcj7rna/qbv19ihdughvs802b4n0v13hlmf7madt/1532944800000/11474363885485342627/11474363885485342627/1KiNzmQuyO4KmFWRIq1xtLWJ1-GaI3w45");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo2 {
  /* background: url("https://drive.google.com/uc?id=16x1uWCiU8lFOceb2zTO2RtOGu5mlrgoJ"); */
  background: url("https://doc-14-8o-docs.googleusercontent.com/docs/securesc/mfo92ibt9vv34lod3u9lp1r19tcj7rna/4dvrv1j8g55dr10r2mfa80gs40jrltol/1532944800000/11474363885485342627/11474363885485342627/16x1uWCiU8lFOceb2zTO2RtOGu5mlrgoJ");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo3 {
  /* background: url("https://drive.google.com/uc?id=1TOM8oWSrse_ceZtFdrvh4VNYJGokXyIv"); */
  background: url("https://doc-14-8o-docs.googleusercontent.com/docs/securesc/mfo92ibt9vv34lod3u9lp1r19tcj7rna/4dvrv1j8g55dr10r2mfa80gs40jrltol/1532944800000/11474363885485342627/11474363885485342627/16x1uWCiU8lFOceb2zTO2RtOGu5mlrgoJ");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.photo4 {
  /* background: url("https://drive.google.com/uc?id=17i7GGLkZkaeaN20vXbkGjsF6Om4gQOP3"); */
  background: url("https://doc-0o-8o-docs.googleusercontent.com/docs/securesc/mfo92ibt9vv34lod3u9lp1r19tcj7rna/b49sklh25vivk5kf6fls33dtkt40vmo2/1532944800000/11474363885485342627/11474363885485342627/17i7GGLkZkaeaN20vXbkGjsF6Om4gQOP3");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.photo5 {
  /* background: url("https://drive.google.com/uc?id=1ywegggGMVCG-I9CRjcZGw9JXISfFjXdW"); */
  background: url("https://doc-0k-8o-docs.googleusercontent.com/docs/securesc/mfo92ibt9vv34lod3u9lp1r19tcj7rna/act27h3357c9s0iaodg2q8e4k0kjoni3/1532944800000/11474363885485342627/11474363885485342627/1ywegggGMVCG-I9CRjcZGw9JXISfFjXdW");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.photo6 {
  /* background: url("https://drive.google.com/uc?id=1Q9kUOfqjTJUVxGYe-MV8TxLCgRGmjvn1"); */
  background: url("https://doc-00-8o-docs.googleusercontent.com/docs/securesc/mfo92ibt9vv34lod3u9lp1r19tcj7rna/6psnh9em3fp5jsfpsp3p6q5v7k90bdtn/1532944800000/11474363885485342627/11474363885485342627/1Q9kUOfqjTJUVxGYe-MV8TxLCgRGmjvn1");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.photo7 {
  /* background: url("https://drive.google.com/uc?id=1liOzqxbmG05rM4NHsl4ux6sQB3R4W3Ud"); */
  background: url("https://doc-14-8o-docs.googleusercontent.com/docs/securesc/mfo92ibt9vv34lod3u9lp1r19tcj7rna/ukaenn9kt8cgpqeak78sc7jddq5m5cc6/1532944800000/11474363885485342627/11474363885485342627/1liOzqxbmG05rM4NHsl4ux6sQB3R4W3Ud");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.photo8 {
  /* background: url("https://drive.google.com/uc?id=1igaSpjSE--HybZCe74JWHIG8qav8OeX7"); */
  background: url("https://doc-0k-8o-docs.googleusercontent.com/docs/securesc/mfo92ibt9vv34lod3u9lp1r19tcj7rna/jo34786g24lp73j9nnr96b0h6g4m9epg/1532944800000/11474363885485342627/11474363885485342627/1igaSpjSE--HybZCe74JWHIG8qav8OeX7");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.photo9 {
  /* background: url("https://drive.google.com/uc?id=1PXooCvPwp0mOqLy4hBhQHSt0CCNwlje5"); */
  background: url("https://doc-10-8o-docs.googleusercontent.com/docs/securesc/mfo92ibt9vv34lod3u9lp1r19tcj7rna/r8mgqb4t3al16lp1piij6j89istjsmjc/1532944800000/11474363885485342627/11474363885485342627/1PXooCvPwp0mOqLy4hBhQHSt0CCNwlje5");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
