@import url(https://fonts.googleapis.com/css?family=Raleway);
head, body{
	margin:0;
	padding:0;
    height:100%;
    width:100%;
}

body{
	background-color:#333;
}
h1, h2, h3, h4, h5, h6, p, div, a{
	font-family: 'Raleway', sans-serif;
}

.header{
	height:120;
	background-color:#333;
	color:white;
}

.header h2{
	margin:40px 30px;
	font-size: 40px;
	text-transform:uppercase;
}

.header ul{
	margin: 40px 30px;
	list-style: none;
	float:right;
}

.header ul li a{
	font-size: 20px;
	border:1px solid #333;
}

.header ul.nav li.active a, .header ul.nav li.active a:hover{
	background: #1a77ff;
	color:white;
	border-radius:5px;
	border:none;
}

.header ul.nav li a:hover, .header ul.nav li a:focus{
	color:white;
	background-color:rgb(71,71,71);
	border:none;
	border-bottom: #1a77ff solid 1px;
	border-radius:0;
}

.header ul.nav li > a{
	color: #1a77ff;
}

/*main 
*/
.main{
	position:relative;
}
.main{
	background: url("../img/city1.jpg") no-repeat center center;
	background-size:cover;
	opacity:1.1;
	z-index: -1;
	height:700px;
	text-align:center;
}

.main h1{
	margin-top:100px;
	color:white;
	font-size: 60px;
}

.main p{
	color: white;	
	margin:10px;
	font-size:18px;
}

/*Footer
*/

.footer{
	background-color:#333;
	color:white;
}

.footer ul{
	margin:20px 0;
	list-style:none;
}

.footer li:first-child{
	font-size:20px;
}

.footer li a{
	color:white;
}
.footer .contact{
	margin:10px 30px;
	font-size:16px;
}

.filler .jumbotron{
	background-color: #333;
	height: 100px;
	margin-bottom:0;
}
