@import url(https://fonts.googleapis.com/css?family=Raleway);
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #333;
}

h1, h2, h3, h4, h5, h6, p, div, a {
  font-family: 'Raleway', sans-serif;
}

.hidden {
  visibility: hidden;
}

/*Loader*/

.container-animation {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
  height: 100%;
  padding: 2em;
  @media screen and (min-width: 500px) {
    flex-direction: row;
  }
}

#animation {
  width: 100%;
  height: 100%;
  margin: 2em auto 0;
  @media screen and (min-width: 800px) {
    height: 90%;
  }
}

header {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 1em 0.5em 2em;
  h1 {
    font-size: 1.5em;
  }
}

.play-again {
  $color: #4391f1;
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid $color;
  color: $color;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 2em;
  &:hover {
    background-color: $color;
    color: #fff;
  }
}

.loading-container {
  position: fixed;
  z-index: 10000000;
  background: #FFFFFF;
  overflow: hidden;
}

/* Navigation Bar */

.navbar {
  font-size: 1.2em;
  transition: 500ms;
}

.navbar .navbar-brand {
  color: #ffffff;
  font-size: 1.3em;
}

.navbar .navbar-brand:hover {
  color: #00ffd9;
}

.navbar .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar .navbar-nav .nav-link:hover {
  color: #00ffd9;
}

.navbar .navbar-toggler {
  border-color: #ffffff;
}

.navbar .navbar-toggler-icon {
  color: #ffffff;
}

.navbar .navbar-toggler:hover {
  border-color: #00ffd9;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.navbar-toggler:focus {
  border-color: rgb(255, 255, 255);
}

.bottom-shadow {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.transparent-bg {
  background: transparent;
}

.dark-color-bg {
  background: #333333;
}

/* Main Section */

.main-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 100%;
  color: #FFFFFF;
  text-align: center;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*Content*/

.content {
  padding: 5% 0 5% 0;
}

/* About Me */

.about-section {
  text-align: center;
  background-color: #CCCCCC;
  width: 100%;
  padding: 9% 0 9% 0;
}

.about-section h3 {
  font-size: 2em;
}

.about-section p {
  padding: 0 10% 0 10%;
  font-size: 1.3em;
}

/* Photo */
.photo-section {
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  padding-bottom: 5%;
  text-align: center;
}
#photoContainer {
  height: 100%;
}

.thumbnail {
  position: relative;
  width: 100%;
  height: 80%;
}

.card-container{
	height:100%;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button-card {
  color: #FFFFFF;
  padding: 2vh 3vw;
  border-style: solid;
  border-color: #FFFFFF;
  font-size: 0.8em;
  transition: 500ms;
}

.button-card:hover {
  background-color: #FFFFFF;
  color: #000000;
  cursor: pointer;
}

/* Resume */

.resume-section {
  background-color: #999999;
  height: 50%;
}

/* Contact */
.contact-section {
  background-color: #111111;
  height: 20%;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:#FFFFFF;
}
.contact-buttons {
  padding: 0 8px;
  display:inline-block;
  font-size:1.3em;
  background:transparent;
  border:none;
}
.contact-buttons:hover{
  color:#999999;
  cursor:pointer;
}
