@import url(https://fonts.googleapis.com/css?family=Raleway);
html, body{
	margin:0;
	padding:0;
  height:100%;
}

body{
	background-color:#333;

}
h1, h2, h3, h4, h5, h6, p, div, a{
	font-family: 'Raleway', sans-serif;
}

/* Navigation Bar */
.navbar{
	font-size:  1.2em;
	transition: 500ms;
}
.navbar .navbar-brand {
  color: #ffffff;
	font-size: 1.3em;
}
.navbar .navbar-brand:hover{
  color: #00ffd9;
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
}
.navbar .navbar-nav .nav-link:hover{
  color: #00ffd9;
}
.navbar .navbar-toggler  {
  border-color: #ffffff;
}
.navbar .navbar-toggler-icon{
	color: #ffffff;
}
.navbar .navbar-toggler:hover {
	border-color: #00ffd9;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
  border-color: rgb(255,255,255);
}
.navbar-toggler:focus{
  border-color: rgb(255,255,255);
}
.bottom-shadow{
	-webkit-box-shadow: 0 8px 6px -6px #999;
	-moz-box-shadow: 0 8px 6px -6px #999;
	box-shadow: 0 8px 6px -6px #999;
}
.transparent-bg {
    background:transparent;
}
.dark-color-bg {
    background:#333333;
}
/* Main Section */
.main-section{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	height:100%;
	color: #FFFFFF;
	text-align: center;
	font-size: 3em;
	padding-top: 35%;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*Content*/
.content{
	padding: 5% 0 5% 0;
}
/* About Me */
.about-section{
	text-align: center;
	background-color: #CCCCCC;
	width:100%;
	padding: 9% 0 9% 0;
}
.about-section h3{
	font-size:2em;
}
.about-section p{
	padding: 0 10% 0 10%;
	font-size:1.3em;
}
/* Resume */
.resume-section{
	background-color: #999999;
	height:50%;
}
/* Photo */
.photo-section{
	background-color: #555555;
	height:50%;
}
/* Contact */
.contact-section{
	background-color: #111111;
	height:50%;
}
