.main{
	height:200px;
}

.main h1{
	margin-top:50px;
}

.info{
	background-color:#eee;
	padding:20px 0;
}

.info ul{
	list-style:none;
	padding-left:none;
}

.info span{
	float:left;
}
.info ul h1{
	color:#1a77ff;
}

.info ul h2{
	margin-top:30px;
	padding-left:80px;
}

.info ul h3{
	padding-left:115px;
	margin-top:0;
	padding-top:0;
}

.info ul img{
	float: left;
}
.info ul h4{
	margin-top:15px;
	padding-left:120px;
}

.info .descript{
	list-style: circle;
	padding-left:140px;
	margin:10px 0;
}
