<app-category-selector
  (selectionChange)="checkSelection($event)"
  (resetChange)="reset()"
  (randomChange)="selectRandomDrug($event)"
  (metadataCategorySelectionChange)="selectMetadataCategory($event)"
></app-category-selector>

<div
  *ngIf="!alphabetLearning && learnDrugs.length !== 0"
  class="drug-container"
>
  <!-- TODO look into reviewing all the drugs that were selected -->
  <!-- <learned-drug-list [learnedDrugs]="learnDrugs"></learned-drug-list> -->
  <drug-card [drug]="currentLearnDrug"></drug-card>
</div>

<div *ngIf="alphabetLearning" class="alphabet-container">
  <div class="accordian-container">
    <mat-accordion *ngFor="let letter of alphabetDrugMap | keyvalue">
      <mat-expansion-panel
        class="accordian-expansion"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> {{ letter.key }} </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="accordian-button-container">
          <button
            mat-raised-button
            *ngFor="let d of getDrugNamesByLetter(letter.key)"
            class="accordian-button mat-elevation-z1"
            (click)="openDrugDialog(d)"
          >
            {{ d }}
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div *ngIf="categoryLearning" class="alphabet-container">
  <div class="accordian-container">
    <mat-accordion *ngFor="let letter of alphabetCategoryMap | keyvalue">
      <mat-expansion-panel
        class="accordian-expansion"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> {{ letter.key }} </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="accordian-button-container">
          <button
            mat-raised-button
            *ngFor="let d of getCategoryNamesByLetter(letter.key)"
            class="accordian-button mat-elevation-z1"
            (click)="openCategoryDialog(d)"
          >
            {{ d }}
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
