.button-container {
  display: grid;
  height: 60vh;

  button {
    margin: 1vh 30vw;
    font-size: 4em;
  }
}

@media only screen and (max-width: 600px) {
  .button-container {
    display: grid;
    height: 45vh;

    button {
      margin: 2vh 2vw;
      font-size: 2em;
    }
  }
}
