.header-home {
  cursor: pointer;
  text-align: center;
  padding: 4px;
}

.good-luck-footer {
  position: absolute;
  bottom: 20px;
  color: #d9e1f7;
  font-size: 50px;
  left: 50%;
}


@media only screen and (max-width: 600px) {
  .good-luck-footer {
    visibility:hidden;
  }
}