<label>Server Name</label>
<!-- <input type="text" name="servername" id="inputservername" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" name="servername" id="inputservername" class="form-control" [(ngModel)]="serverName">
<!-- <p [innerText]="serverName"></p> -->
<button type="button" class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add
  Server</button>
<p [innerText]="serverCreationStatus"></p>
<app-server></app-server>
<app-server></app-server>
<hr>
<label>Username</label>
<input type="text" name="username" id="inputusername" class="form-control" [(ngModel)]="username">
<p [innerText]="username"></p>

<button type="button" class="btn btn-primary" [disabled]="username ===''" (click)="resetUsername()">Reset Username</button>
<hr>
