<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3>Udemy Angular Basics</h3>
      <hr>
      <app-servers></app-servers>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr>
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr>
      <label>Username</label>
      <input type="text" name="username" id="inputusername" class="form-control" [(ngModel)]="username">
      <p [innerText]="username"></p>
      <button type="button" class="btn btn-primary" [disabled]="username ===''" (click)="resetUsername()">Reset
        Username</button>
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr>
      <button type="button" class="btn btn-primary" (click)="showSecret()">Display Details</button>
      <p *ngIf="secretShown">Secret Password = tuna</p>
      <p *ngFor="let logItem of log; let i = index" [ngStyle]="{'backgroundColor': moreThanFiveClicks(i)}" 
      [ngClass]="{'white-text': i >= 5}">{{logItem}}</p>
    </div>
  </div>
</div>
