<mat-card
  [ngClass]="{
    'drug-card': !fullWidth,
    'drug-card-dialog': fullWidth,
    'drug-card-category-dialog': categoryWidth
  }"
>
  <mat-card-title>{{ drug?.generic }}</mat-card-title>
  <ng-container *ngFor="let d of drug?.details">
    <mat-card-subtitle class="drug-card-subtitle"
      ><span class="drug-category-label">Brand: </span>
      {{ d.brand.join(", ") }}</mat-card-subtitle
    >
    <hr class="solid" />

    <mat-card-content>
      <mat-expansion-panel class="drug-category-expansion" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Drug Class</mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="data-row" *ngFor="let drugClass of d.drugClass">
          <li>{{ prettify(drugClass) }}</li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel class="drug-category-expansion" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Formulation</mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="data-row" *ngFor="let f of d.formulation">
          <li>{{ prettify(f) }}</li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel class="drug-category-expansion" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Common Side Effects</mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="data-row" *ngFor="let c of d.commonSideEffects">
          <li>{{ prettify(c) }}</li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel class="drug-category-expansion" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Rare Side Effects</mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="data-row" *ngFor="let r of d.rareSideEffects">
          <li>{{ prettify(r) }}</li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel class="drug-category-expansion" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Contraindications</mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="data-row" *ngFor="let c of d.contraindication">
          <li>{{ prettify(c) }}</li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel class="drug-category-expansion" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Black Box Warnings</mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="data-row" *ngFor="let b of d.blackBoxWarning">
          <li>{{ prettify(b) }}</li>
        </ul>
      </mat-expansion-panel>
    </mat-card-content>
  </ng-container>
</mat-card>
