.drug-card {
  margin: 1vh 20vw;

  .drug-card-subtitle {
    margin-top: 4px;
    font-size: 1.2em;
  }

  .drug-category-label {
    font-size: 1.1em;
    font-weight: 600;
    margin: 10px 0;
  }

  .data-row {
    margin: 4px 16px;
  }
}

.drug-card-dialog {
  width: 60vw;
}

.drug-card-category-dialog {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .drug-card {
    margin: 1vh 5vw;
  }

  .drug-card-dialog {
    overflow: wrap;
  }
  
}
