.nodestone-container {
  margin: 10px;
}
.pre-solve-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 25% 75%;
  border: 1px solid black;
  padding: 8px;
  border-radius: 10px;
}

.existing-trio-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.button-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px 0;

  .solve-button {
    margin: 0 15px;
    font-size: 2em;
    border: 2px solid rgb(59, 122, 59);
    background-color: rgba(59, 122, 59, 0.2);
  }
  .clear-button {
    margin: 0 15px;
    font-size: 2em;
    border: 2px solid rgb(134, 57, 57);
    background-color: rgba(134, 57, 57, 0.2);
  }
}
.main-trio-skill {
  font-weight: bold;
  text-decoration: underline;
}
.trio-skill-row {
  margin: 0 4px;
}

.skill-0 {
  color: aqua;
  background-color: gray;
}
.skill-1 {
  color: black;
}
.skill-2 {
  color: blueViolet;
}
.skill-3 {
  color: yellow;
  background-color: gray;
}
.skill-4 {
  color: crimson;
}
.skill-5 {
  color: darkGreen;
}
.skill-6 {
  color: chartreuse;
  background-color: gray;
}
.skill-7 {
  color: lightPink;
  background-color: gray;
}
.skill-8 {
  color: mediumblue;
}

.selections-container {
  border: 1px solid black;
  padding: 8px;
  border-radius: 10px;

  .nodestone-input-container {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    .skill-form {
      padding: 10px;
      .skills-input {
        width: 100%;
      }
    }

    .trio-selector-container {
      padding: 10px;
      display: grid;
      grid-template-columns: 100%;
      .trio-input {
        width: 100%;
      }
    }
    .add-trio-error {
      color: red;
    }
  }

  .input-button-container {
    display: grid;
    grid-template-columns: 40% 60%;
    .save-button {
      margin: 0 15px;
      font-size: 2em;
      border: 2px solid rgb(59, 122, 59);
      background-color: rgba(59, 122, 59, 0.2);
    }
  }
}

.trio-select-row-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  align-items: center;

  .trio-select {
    margin: 0 5px;
  }

  .add-button {
    // margin: 0 15px;
    font-size: 1em;
    border: 2px solid rgb(110, 110, 110);
    background-color: rgba(59, 122, 59, 0.2);
  }
}

.nodestone-solving-steps {
  display: grid;
  grid-template-columns: 100%;
}

.text-indent {
  margin-left: 24px;
}

button {
  cursor: pointer;
  border-radius: 10px;
}

.website-header {
  text-align: center;
  width: 100%;
  font-size: 3em;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  padding: 20px 0;
}
