<div class="button-container">
  <ng-container class="initial-selection" *ngIf="!selection">
    <button
      mat-raised-button
      *ngFor="let l of LearnSelection | keyvalue"
      (click)="selectLearn(l.key)"
    >
      {{ l.value }}
    </button>
  </ng-container>

  <ng-container [ngSwitch]="selection">
    <ng-container *ngSwitchCase="'BY_CATEGORY'">
      <mat-form-field class="selection">
        <mat-label>Select a Category</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let option of MetadataCategorySelection | keyvalue"
            value="option.key"
            >{{ option.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </ng-container>
    <ng-container *ngSwitchCase="'RANDOM'">
      <button mat-raised-button (click)="selectAnotherRandom()">
        Another Random Drug
      </button>
    </ng-container>
  </ng-container>
  <ng-container class="reset-selection">
    <button mat-raised-button class="reset-selection-button" (click)="reset()">Reset Selections</button>
  </ng-container>
</div>
