.drug-container {
  width: 70vw;
}

.drug-title {
    font-size: 2em;
}

.drug-category-expansion {
    margin-bottom: 8px;
}

.info-container {
  overflow: visible;
}

.redacted-text {
  background-color: black;
}