<div class="drug-container">
  <button mat-button (click)="redactAllFields()">Black out all fields</button>
  <mat-expansion-panel class="drug-category-expansion" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Pharmacologic Class</mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="data-row" *ngFor="let drugClass of drug.info?.class">
      <li
        [ngClass]="{ 'redacted-text': isRedacted('class', drugClass) }"
        (click)="removeRedact('class', drugClass)"
      >
        {{ prettify(drugClass) }}
      </li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel
    class="drug-category-expansion"
    [expanded]="true"
    *ngIf="isNewContent"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>COMMON Route(s) of Administration</mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="data-row" *ngFor="let administ of drug.info?.administs">
      <li
        [ngClass]="{ 'redacted-text': isRedacted('administs', administ) }"
        (click)="removeRedact('administs', administ)"
      >
        {{ prettify(administ) }}
      </li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel
    class="drug-category-expansion"
    [expanded]="true"
    *ngIf="isNewContent"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Contraindications</mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="data-row" *ngFor="let contra of drug.info?.contras">
      <li
        [ngClass]="{ 'redacted-text': isRedacted('contras', contra) }"
        (click)="removeRedact('contras', contra)"
      >
        {{ prettify(contra) }}
      </li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel
    class="drug-category-expansion"
    [expanded]="false"
    *ngIf="isNewContent"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Precautions and Boxed Warnings RAW Text</mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="data-row">
      <li>
        {{ drug.info?.warns }}
      </li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel
    class="drug-category-expansion"
    [expanded]="true"
    *ngIf="isNewContent"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Precautions</mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="data-row" *ngFor="let precaution of drug.info?.precautions">
      <li
        [ngClass]="{ 'redacted-text': isRedacted('precautions', precaution) }"
        (click)="removeRedact('precautions', precaution)"
      >
        {{ prettify(precaution) }}
      </li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel
    class="drug-category-expansion"
    [expanded]="true"
    *ngIf="isNewContent"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Boxed Warnings</mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="data-row" *ngFor="let box of drug.info?.boxed">
      <li
        [ngClass]="{ 'redacted-text': isRedacted('boxed', box) }"
        (click)="removeRedact('boxed', box)"
      >
        {{ prettify(box) }}
      </li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel
    class="drug-category-expansion"
    [expanded]="true"
    *ngIf="isNewContent"
  >
    <mat-expansion-panel-header>
      <mat-panel-title
        >Clinically Relevant Adverse Reactions (ADRs)</mat-panel-title
      >
    </mat-expansion-panel-header>
    <ul class="data-row" *ngFor="let adr of drug.info?.adrs">
      <li
        [ngClass]="{ 'redacted-text': isRedacted('adrs', adr) }"
        (click)="removeRedact('adrs', adr)"
      >
        {{ prettify(adr) }}
      </li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel
    class="drug-category-expansion"
    [expanded]="true"
    *ngIf="isNewContent"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Counseling Points</mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="data-row" *ngFor="let point of drug.info?.points">
      <li
        [ngClass]="{ 'redacted-text': isRedacted('points', point) }"
        (click)="removeRedact('points', point)"
      >
        {{ prettify(point) }}
      </li>
    </ul>
  </mat-expansion-panel>
</div>
