<h1 class="drug-title">
  {{ drug.generic }}
  <span class="material-symbols-outlined" *ngIf="isFlagged"> flag </span>
  <span class="material-symbols-outlined" *ngIf="isLearned"> done </span>
</h1>
<div class="drug-subtitle">
  <span class="drug-category-label">Brand Name: </span>
  {{ drug.info?.brands?.join(", ") }}
</div>
<div class="drug-subtitle">
  <span class="drug-category-label">Associated Course: </span>
  {{ drug.info?.course }}
</div>
<hr class="solid" />
<mat-dialog-content>
  <drug-learn-card [drug]="drug"></drug-learn-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onClearDrug()">
    <span class="material-symbols-outlined"> backspace </span>
    Clear
  </button>
  <button mat-button (click)="onFlagDrug()">
    <span class="material-symbols-outlined"> flag </span>
    Flag
  </button>
  <button mat-button (click)="onLearnedDrug()">
    <span class="material-symbols-outlined"> done </span>
    Learned
  </button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
