.course-selector {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.course-selector-button {
  font-size: 1.3em;
  margin: 16px 16px 0 16px;
}

.drug-container {
  margin: 24px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.course-description {
  margin: 12px;  // display: grid;
  .course-description-title {
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 80% 20%;
  }
}

.show-course-button {
  font-size: 1.5em;
}

@media (max-width: 800px) {
  .course-selector {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  
  .drug-container {
    margin: 24px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }  
}